html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
}
.mdl-data-table__cell-non-numeric{
 justify-content: center;



}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 12px;
} 
.layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
 justify-content: right;
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.drawer {
  border: none;
}

.card-wide.mdl-card {
  width: 512px;
}
.card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url('../assets/welcome_card.jpg') center / cover;
}
.card-wide > .mdl-card__menu {
  color: #fff;
}
.mdl-mini-footer .mdl-mini-footer__right-section{
  background-color: white-grey;
}

.drawer .mdl-menu__container {
  z-index: -1;
}
.drawer .navigation {
  z-index: -2;
}

.drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;

}
.textFuncMes{
  position: absolute;
  top: 30%;
  left: 45%;
  margin-top: -10px;
  margin-left: -5px;
  font-size: 15px;

}
.avatar-mes{
  position: absolute;
  top: 35%;
  left: 5%;
  margin-top: -10px;
  margin-left: -10px;
}
.mdl-grid{
  justify-content: center;
  align-content: center;
  text-align-last: center;

}

.navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.layout .navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.layout .navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
  padding-right: 5px;
}
.gerar-relatorio{
 padding: 0 0 0 70px;
}

.charts {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.chart:nth-child(1) {
  color: #ACEC00;
}
.chart:nth-child(2) {
  color: #00BBD6;
}
.chart:nth-child(3) {
  color: #BA65C9;
}
.chart:nth-child(4) {
  color: #EF3C79;
}
.cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;

          padding-bottom: 50%;
}
.cards .separator {
  height: 32px;
}
.cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;

}
.cards ul {
  padding: 0;
  max-height: 1
}
.cards h3 {
  font-size: 1em;
  margin:0  ;
} 
.updates .mdl-card__title {
  max-height: 20px;
  background-position: 90% 100%;
  background-repeat: no-repeat;
}
.cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}

  .options ul {
  margin: 0;
  list-style-type: none;
}
.options li {
  margin: 4px 0;
}
.options .material-icons {
  color: rgba(255, 255, 255, 0.89);

}
.options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
